<header>
	<!-- CONTAINER -->
	<div class="container container-style-2 container-style-3">
		<div class="header__bl header__bl-1">
			<a href="index.html" class="header__logo-company logo-company" aria-label="logo" role="link">
				<img src="img/logo-company.svg" width="191" height="74" alt="ТермоЦентр системи опалення та сантехнiки">
			</a>
		</div>
		<div class="header__bl header__bl-2">
			<div class="toggle-wrapper">
				<button class="toggle-btn" role="button" aria-label="Menu">
					<span></span>
				</button>
				<div class="toggle__content">
					<div>
						<section>
							<h2>Послуги</h2>
							<ul role="menu" class="header__list">
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Опалення</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Вентиляцiя</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Автоматика</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">сантехнiка</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Водопостачання та<br>
										каналiзацiя
									</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Кондицiонування</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Водоочистка</a>
								</li>
							</ul>
						</section>
						<section>
							<h2>Про нас</h2>
							<ul role="menu" class="header__list">
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Про компанію</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Наша команда</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Нашi роботи</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Нашi партнери</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Сертифiкати та лiцензiї</a>
								</li>
								<li role="menuitem">
									<a href="javascript:void(0)" role="link">Вiдгуки клiєнтiв</a>
								</li>
							</ul>
						</section>
						<section>
							<h2>Контакти</h2>
							<ul class="reset-list phones-info phones-info-style-3 phones-info-style-4 header__phones-info-2">
								<li>
									<a href="tel:+38098023535" role="link">(098) 025-35-35</a>
								</li>
								<li>
									<a href="tel:+380507110222" role="link">(050) 711-02-22</a>
								</li>
							</ul>
							//=include('_contacts-info-1.html')
						</section>
					</div>
				</div>
			</div>
			<div class="header__phones-info-wrapper">
				<ul class="reset-list phones-info phones-info-style-1 header__phones-info">
					<li>
						<a href="tel:+38098023535" role="link">(098) 025-35-35</a>
					</li>
					<li>
						<a href="tel:+380507110222" role="link">(050) 711-02-22</a>
					</li>
				</ul>
				<nav class="header__nav">
					<ul role="menu" class="nav nav-style-1">
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Послуги" role="link">Послуги</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Про компанію" role="link">Про компанію</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Портфоліо" role="link">Портфоліо</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Контакти" role="link">Контакти</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header__bl header__bl-3">
			//=include('_contacts-info-1.html')
		</div>
	</div><!-- END CONTAINER -->
</header>
