<header>
	<!-- CONTAINER -->
	<div class="container container-style-2 container-style-3">
		<div class="header__bl header__bl-1">
			<a href="index.html" class="header__logo-company logo-company" aria-label="logo" role="link">
				<img src="img/logo-company.svg" width="191" height="74" alt="ТермоЦентр системи опалення та сантехнiки">
			</a>
		</div>
		<div class="header__bl header__bl-2">
			<div class="toggle-wrapper">
				<button class="toggle-btn" role="button" aria-label="Menu">
					<span></span>
				</button>
				<div class="toggle__content">
					<div></div>
				</div>
			</div>
			<div class="header__phones-info-wrapper">
				<ul class="reset-list phones-info phones-info-style-1 header__phones-info">
					<li>
						<a href="tel:+38098023535" role="link">(098) 025-35-35</a>
					</li>
					<li>
						<a href="tel:+380507110222" role="link">(050) 711-02-22</a>
					</li>
				</ul>
				<nav class="header__nav">
					<ul role="menu" class="nav nav-style-1">
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Послуги" role="link">Послуги</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Про компанію" role="link">Про компанію</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Портфоліо" role="link">Портфоліо</a>
						</li>
						<li role="menuitem">
							<a href="javascript:void(0)" aria-label="Контакти" role="link">Контакти</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header__bl header__bl-3">
			<div class="contacts-info contacts-info-style-1 header__contacts-info">
				<p>м. Рівне, вул. Щаслива, 14</p>
				<ul class="reset-list s_ocial s_ocial-style-1 header__s_ocial">
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Facebook" class="s_ocial__f_acebook">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#facebook"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Linkedin" class="s_ocial__l_inkedin">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#linkedin"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Instagram" class="s_ocial__i_nstagram">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#instagram"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Viber" class="s_ocial__v_iber">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#viber"></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" role="link" aria-label="Telegram" class="s_ocial__t_elegram">
							<svg>
								<use href="img/sprite-svg-fill-delete.svg#telegram"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- END CONTAINER -->
</header>
