<div class="hel" itemscope itemtype="http://schema.org/Organization">
	<span itemprop="name">ТермоЦентр системи опалення та сантехнiки</span>
	<img itemprop="image" src="img/logo-company.svg" alt="High capital. Your financial markets one-stop-shop">
	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		<span itemprop="streetAddress">Щаслива, 14</span>
		<span itemprop="addressLocality">Рiвненська область, Рiвне</span>
	</div>
	<span itemprop="telephone">+380980253535</span>
	<span itemprop="telephone">+380507110222</span>
	<div itemscope itemtype="https://schema.org/LocalBusiness">
		<meta itemprop="name" content="ТермоЦентр системи опалення та сантехнiки">
		<meta itemprop="image" content="img/logo-company.svg">
		<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="streetAddress" content="Щаслива, 14">
			<meta itemprop="addressLocality" content="Рiвненська область, Рiвне">
		</span>
		<meta itemprop="telephone" content="+380980253535">
		<meta itemprop="telephone" content="+380507110222">
		<meta itemprop="priceRange" content="UAH">
	</div>
</div>
