.hel {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.ovh {
	overflow: hidden;
}

.ovyh {
	overflow-y: hidden;
}

.tac {
	text-align: center;
}

.ttu {
	text-transform: uppercase;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;

	pointer-events: none;
	@include trs;
}

.overlay-visible {
	z-index: 996;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

@media (max-width: 1200px) {
	.overlay {
		background-color: rgba($cb, 0.9);
	}
}

.scroll-table-content {
	overflow-x: auto;
	margin-bottom: 40px;

	table {
		margin-bottom: 0;
	}
}

.map-wrapper {
	position: relative;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100%;
		border: none;
	}
}

.contacts-info {
	p {
		font-size: fsz(12, 14);

		&:last-of-type {
			margin-bottom: 0;
		}

		&+.s_ocial {
			margin-top: 10px;
		}
	}
}

.contacts-info-style-2 {
	p {
		color: $c1;
	}
}

.phones-info {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		margin-bottom: 5px;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	a {
		position: relative;
		padding-bottom: 4px;
		font-family: $f1;
		font-weight: 900;
		line-height: 1;
		text-decoration: none;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform .3s ease-in-out;
		}

		&:hover {
			&:after {
				transform-origin: left;
				transform: scaleX(1)
			}
		}
	}

	&+ul {
		margin-top: 4px;
	}
}

.phones-info-style-1 {
	a {
		color: $c1;

		&:after {
			background-color: $c1;
		}
	}
}
