.hel {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	text-indent: -9999px;
}

.db {
	display: block;
}

.dn {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.ovh {
	overflow: hidden;
}

.ovyh {
	overflow-y: hidden;
}

.tac {
	text-align: center;
}

.ttu {
	text-transform: uppercase;
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;

	pointer-events: none;
	@include trs;
}

.overlay-visible {
	z-index: 996;
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

@media (max-width: 1200px) {
	.overlay {
		background-color: rgba($c4, 0.95);
	}
}

.scroll-table-content {
	overflow-x: auto;
	margin-bottom: 40px;

	table {
		margin-bottom: 0;
	}
}

.map-wrapper {
	position: relative;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 100%;
		border: none;
	}
}

.contacts-info {
	p {
		font-size: fsz(12, 14);

		&:last-of-type {
			margin-bottom: 0;
		}

		&+.s_ocial {
			margin-top: 10px;
		}
	}
}

.contacts-info-2 {
	display: flex;
	align-items: flex-start;

	&+.contacts-info-3 {
		margin-top: 58px;
	}
}

.contacts-info-2__img {
	position: relative;
	width: 80px;

	.list-img {
		padding-top: 100%;
		border-radius: 50%;
	}
}

@media (min-width: 1231px) {
	.contacts-info-2 {
		margin-left: -40px;
	}
}

.contacts-info-2__content {
	p {
		padding-left: 15px;
		font-size: fsz(11, 14);
		line-height: 1.2;

		strong {
			display: block;
			font-size: 1rem;
			margin-bottom: 5px;
			line-height: 1.2;
			color: $c3;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&+.btn {
			margin-top: 13px;
		}
	}
}

.contacts-info-2__social {
	position: absolute;
	left: 8px;
	right: 8px;
	bottom: 1px;
	z-index: 1;
}

.contacts-info-3 {
	display: flex;
	color: $c10;

	strong {
		display: block;
		margin-bottom: 8px;
		font: fsz(11, 14) $fb;
	}

	p {
		margin-bottom: 0;
		font-weight: 900;
		font-family: $f1;

		a[href^="tel"] {
			text-decoration: none;
			color: $c10;

			&:hover {
				color: $c3;
			}
		}
	}

	table {
		margin-bottom: 0;

		td {
			line-height: 1.55;

			&:first-child {
				padding-right: 7px;
				font-weight: 900;
				font-family: $f1;
			}
		}
	}
}

@media (min-width: 1025px) {
	.contacts-info-3 {
		gap: 0 mp(100, 1038);
	}
}

@media (min-width: 1231px) {
	.contacts-info-3 {
		padding-left: 57px;
	}
}

@media (max-width: 1024px) {
	.contacts-info-3 {
		gap: 0 mp(40, 944);
	}
}

@media (max-width: 576px) {
	.contacts-info-3 {
		flex-direction: column;
		gap: 32px 0;

		table {
			td {
				&:first-child {
					width: 65px;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.contacts-info-2__img {
		width: 60px;
	}
}

.contacts-info-style-2 {
	p {
		color: $c1;
	}
}

.phones-info {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		margin-bottom: 5px;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	a {
		position: relative;
		padding-bottom: 4px;
		font-family: $f1;
		font-weight: 900;
		line-height: 1;
		text-decoration: none;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform .3s ease-in-out;
		}

		&:hover {
			&:after {
				transform-origin: left;
				transform: scaleX(1)
			}
		}
	}

	&+ul,
	&+nav {
		margin-top: 4px;
	}
}

.phones-info-style-1 {
	a {
		color: $c10;

		&:after {
			background-color: $c3;
		}

		&:hover {
			color: $c3;
		}
	}
}

.phones-info-style-2 {
	a {
		color: $c1;

		&:after {
			background-color: $c1;
		}
	}
}

.phones-info-style-3 {
	a {
		color: $c3;

		&:after {
			background-color: $c3;
		}
	}
}

.phones-info-style-4 {
	li {
		display: block;

		&:not(:last-child) {
			margin-right: 0;
			margin-bottom: 12px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.nav {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		margin-bottom: 5px;

		&:not(:last-child) {
			margin-right: 14px;
		}
	}

	a {
		position: relative;
		padding-bottom: 4px;
		font-size: fsz(13, 14);
		line-height: 1;
		text-decoration: none;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform .3s ease-in-out;
		}

		&:hover {
			&:after {
				transform-origin: left;
				transform: scaleX(1)
			}
		}
	}
}

.nav-style-1 {
	a {
		color: $c3;

		&:after {
			background-color: $c3;
		}
	}
}

.nav-style-2 {
	a {
		color: $c1;

		&:after {
			background-color: $c1;
		}
	}
}

.style-1 {
	margin-bottom: 100px;
}

.style-2 {
	height: 600px;
	overflow: hidden;
}

.style-3 {
	height: 490px;
	overflow: hidden;
}

@media (max-width: 1024px) {
	.style-1 {
		margin-bottom: 80px;
	}
}

.decor-title {
	position: relative;
	display: inline-block;
	padding-top: 45px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 22px;
		height: 34px;
		background: url(../img/bg-2.svg) no-repeat;
	}
}

@media (min-width: 1231px) {
	.decor {
		position: fixed;
		top: 660px;
		left: 0;
		width: 84px;
		height: 378px;
		background: url(../img/bg-1.svg) no-repeat;
	}
}

.link-1 {
	display: inline-block;
	text-decoration: none;

	span {
		padding-bottom: 4px;
		background: linear-gradient(0deg, $c4, $c4) right bottom/100% 1px no-repeat;
		@include trs;
	}

	&:hover {
		text-decoration: none;

		span {
			background-size: 0 1px;
			background-position-x: right;
		}
	}
}

.link-style-1 {
	font-size: fsz(12, 14);
	line-height: 1.5;
}

.btn {
	display: inline-block;
	padding: 13px 20px 13px 20px;
	font-size: fsz(13, 14);
	line-height: 1;
	border-radius: 20px;
	text-decoration: none;
	@include trs;

	span {
		position: relative;
		display: inline-block;

		svg {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			@include trs;
		}
	}
}

.btn-default {
	background-color: $c4;
	color: $c3;

	span {
		svg {
			fill: $c3;
		}
	}

	&:hover {
		background-color: $c3;
		color: $c1;

		span {
			svg {
				fill: $c1;
			}
		}
	}
}

.btn-style-1 {
	padding: 9px 15px 9px 15px;
	font-size: fsz(12, 14);
	color: $c10;
	border-radius: 15px;

	span {
		padding-left: 20px;

		&.viber-icon {
			svg {
				width: 13px;
				height: 13px;
			}
		}
	}
}

.desktop-user-agent {

	.lg-counter,
	.lg-sub-html {
		font-weight: 400;
		color: $cb;
	}

	.lg-backdrop,
	.lg-next,
	.lg-prev {
		background-color: $c4;
	}

	.lg-toolbar .lg-icon:hover {
		color: $c3;
	}

	.lg-toolbar .lg-close:hover {
		color: $c2;
	}

	.lg-next,
	.lg-prev {
		width: 47px;
		height: 47px;
		border-radius: 50%;
		border: 1px solid $c3;
		transition: 0.3s ease-in-out;

		&:after,
		&:before {
			content: '';
		}

		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 8px;
			height: 14px
		}


		&:hover {
			background-color: $c3;
		}
	}

	.lg-prev {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.751998 7.92742C0.527278 7.68133 0.401054 7.34774 0.401054 6.99992C0.401054 6.65211 0.527278 6.31852 0.751998 6.07242L5.2768 1.12167C5.50322 0.882704 5.8064 0.750566 6.12104 0.753717C6.43568 0.756869 6.73659 0.895058 6.95898 1.13852C7.18136 1.38199 7.30743 1.71124 7.31001 2.05538C7.3126 2.39952 7.1915 2.731 6.9728 2.97842L3.2976 6.99992L6.9744 11.0214C7.08906 11.1424 7.18054 11.2872 7.2435 11.4473C7.30646 11.6074 7.33964 11.7796 7.3411 11.9539C7.34256 12.1282 7.31227 12.301 7.252 12.4623C7.19173 12.6237 7.10269 12.7703 6.99007 12.8936C6.87746 13.0168 6.74352 13.1144 6.59607 13.1804C6.44862 13.2465 6.29062 13.2798 6.13129 13.2784C5.97195 13.2769 5.81447 13.2408 5.66804 13.1721C5.52161 13.1034 5.38915 13.0035 5.2784 12.8782L0.749598 7.92742H0.751998Z' fill='%23006DB7'/%3E%3C/svg%3E%0A")
		}

		&:hover {
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.751998 7.92742C0.527278 7.68133 0.401054 7.34774 0.401054 6.99992C0.401054 6.65211 0.527278 6.31852 0.751998 6.07242L5.2768 1.12167C5.50322 0.882704 5.8064 0.750566 6.12104 0.753717C6.43568 0.756869 6.73659 0.895058 6.95898 1.13852C7.18136 1.38199 7.30743 1.71124 7.31001 2.05538C7.3126 2.39952 7.1915 2.731 6.9728 2.97842L3.2976 6.99992L6.9744 11.0214C7.08906 11.1424 7.18054 11.2872 7.2435 11.4473C7.30646 11.6074 7.33964 11.7796 7.3411 11.9539C7.34256 12.1282 7.31227 12.301 7.252 12.4623C7.19173 12.6237 7.10269 12.7703 6.99007 12.8936C6.87746 13.0168 6.74352 13.1144 6.59607 13.1804C6.44862 13.2465 6.29062 13.2798 6.13129 13.2784C5.97195 13.2769 5.81447 13.2408 5.66804 13.1721C5.52161 13.1034 5.38915 13.0035 5.2784 12.8782L0.749598 7.92742H0.751998Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
			}
		}
	}

	.lg-next {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.9902 6.10456C7.21493 6.35065 7.34115 6.68425 7.34115 7.03206C7.34115 7.37987 7.21493 7.71347 6.9902 7.95956L2.4654 12.9103C2.23898 13.1493 1.9358 13.2814 1.62116 13.2783C1.30653 13.2751 1.00561 13.1369 0.783224 12.8935C0.560838 12.65 0.434777 12.3207 0.432192 11.9766C0.429607 11.6325 0.550706 11.301 0.769405 11.0536L4.4446 7.03206L0.767804 3.01056C0.653141 2.88954 0.561661 2.74476 0.498702 2.58467C0.435743 2.42457 0.402566 2.25236 0.401107 2.07809C0.399648 1.90382 0.429935 1.73097 0.490203 1.56964C0.550471 1.40831 0.639511 1.26172 0.752129 1.13843C0.864746 1.01514 0.998686 0.917612 1.14613 0.851542C1.29358 0.785473 1.45158 0.752182 1.61091 0.753614C1.77025 0.755045 1.92773 0.79117 2.07416 0.85988C2.2206 0.92859 2.35305 1.02851 2.4638 1.15381L6.9926 6.10456H6.9902Z' fill='%23006DB7'/%3E%3C/svg%3E%0A")
		}

		&:hover {
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.9902 6.10456C7.21493 6.35065 7.34115 6.68425 7.34115 7.03206C7.34115 7.37987 7.21493 7.71347 6.9902 7.95956L2.4654 12.9103C2.23898 13.1493 1.9358 13.2814 1.62116 13.2783C1.30653 13.2751 1.00561 13.1369 0.783224 12.8935C0.560838 12.65 0.434777 12.3207 0.432192 11.9766C0.429607 11.6325 0.550706 11.301 0.769405 11.0536L4.4446 7.03206L0.767804 3.01056C0.653141 2.88954 0.561661 2.74476 0.498702 2.58467C0.435743 2.42457 0.402566 2.25236 0.401107 2.07809C0.399648 1.90382 0.429935 1.73097 0.490203 1.56964C0.550471 1.40831 0.639511 1.26172 0.752129 1.13843C0.864746 1.01514 0.998686 0.917612 1.14613 0.851542C1.29358 0.785473 1.45158 0.752182 1.61091 0.753614C1.77025 0.755045 1.92773 0.79117 2.07416 0.85988C2.2206 0.92859 2.35305 1.02851 2.4638 1.15381L6.9926 6.10456H6.9902Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A")
			}
		}
	}
}

.slider-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 47px;
	height: 47px;
	padding: 0;
	color: $c3;
	border-radius: 50%;
	border: 1px solid $c3;
	transition: 0.3s ease-in-out;

	svg {
		width: 8px;
		height: 14px;
		fill: currentColor;
	}

	&:hover {
		color: $c1;
		background-color: $c3;
	}
}
