/*
===========================
	PORTFOLIO
==========================
*/
.portfolio {
	h2 {
		text-align: center;
	}
}

.portfolio__list {
	>div {

		&:first-child,
		&:nth-child(2) {
			.list-img {
				padding-top: 73.276%;
			}
		}

		&:nth-child(3) {
			.list-img {
				padding-top: 0;
				height: 100%;
			}
		}
	}

	.list-img {
		padding-top: 60.27%;
	}
}
