:root {
	height: -webkit-fill-available;
	font: 300 0.875em $fb; // 14 / 16
	color: $cb;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	flex-direction: column;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 1231px) {
	main {
		.container {
			position: relative;
			z-index: 1;
		}
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

header,
footer {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
	padding-top: 50px;
}

@media (max-width: 1200px) {
	main {
		padding-top: 105px;
	}
}

picture::selection,
img::selection,
table th::selection,
table td::selection,
a::selection,
strong::selection,
b::selection,
em::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
li::selection,
input:not([type='checkbox']):not([type='radio'])::selection {
	color: $c1;
	background-color: $cb;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1231px) {
	.container-style-1 {
		padding-left: 55px;
	}

	.container-style-2 {
		padding-left: 105px;
	}

	.container-style-3 {
		padding-right: 65px;
	}
}

@media (max-width: 1230px) {
	.container {
		padding-left: mp(50, 1230);
		padding-right: mp(50, 1230);
	}
}

@media (max-width: 1024px) {
	.container {
		padding-left: mp(40, 1024);
		padding-right: mp(40, 1024);
	}
}

@media (max-width: 576px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 360px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.content {
	display: flex;
}

.content__main {
	flex-grow: 1;
}

@media (min-width: 1025px) {
	.content-1 {
		gap: 0 mp(60, 1135);
		align-items: center;
	}

	.content-1__aside,
	.content-1__main {
		width: 50%;
	}

	.content-2 {
		gap: 0 mp(65, 1030);
	}

	.content-6 {
		gap: 0 mp(50, 1055);
		align-items: center;
	}

	.content-7 {
		gap: 0 mp(60, 1030);
		align-items: center;
	}

	.content-2__aside,
	.content-3__aside,
	.content-4__aside,
	.content-5__aside,
	.content-6__aside {
		flex: none;
	}

	.content-2__aside {
		width: calc(min(410px, 100%));
	}

	.content-3__aside {
		width: calc(min(400px, 100%));
	}

	.content-4 {
		gap: 0 mp(60, 1200);
		align-items: center;
	}

	.content-4__aside {
		width: mp(545, 1200);
	}

	.content-5__aside {
		width: mp(545, 1095);
	}

	.content-6__aside {
		width: mp(200, 1095);
	}

	.content-7__aside,
	.content-7__main {
		width: 50%;
	}
}

@media (max-width: 1024px) {
	.content {
		flex-direction: column;
	}
}

h1,
h2,
h3 {
	font-family: $f1;
	font-weight: 900;
	line-height: 1.2;
}

h1,
h2 {
	color: $c3;
}

h2,
h3 {
	margin-bottom: 38px;
}

h1 {
	margin-bottom: 30px;
	font-size: fsz(31, 14);
}

h2 {
	font-size: fsz(28, 14);
}

h3 {
	font-size: fsz(23, 14);
}

@media (max-width: 576px) {

	h2,
	h3 {
		margin-bottom: 35px;
	}

	h1 {
		font-size: fsz(28, 14);
	}

	h2 {
		font-size: fsz(25, 14);
	}

	h3 {
		font-size: fsz(20, 14);
	}
}

@media (max-width: 360px) {
	h1 {
		font-size: fsz(25, 14);
	}

	h2 {
		font-size: fsz(22, 14);
	}

	h3 {
		font-size: fsz(18, 14);
	}
}

blockquote,
.video-wrapper {
	margin-bottom: 33px;
}

ul:not([role="menu"], .reset-list),
ol:not([role="menu"], .reset-list) {
	margin-bottom: 20px;

	li {
		position: relative;
		line-height: 1.45;

		&:not(:last-child) {
			margin-bottom: 9px;
		}

		&:before {
			position: absolute;
			left: 0;
		}
	}

	a {
		text-decoration: none;
		background: linear-gradient(0deg, $c3, $c3) right bottom/100% 1px no-repeat;

		&:hover {
			background-size: 0 1px;
			background-position-x: right;
		}
	}
}

ul:not([role="menu"], .reset-list) {
	li {
		padding-left: 14px;

		&:before {
			content: '';
			top: 8px;
			left: 0;
			width: 4px;
			height: 4px;
			background-color: $c3;
		}
	}
}

ol:not([role="menu"], .reset-list) {
	counter-reset: num;

	li {
		padding-left: 28px;

		&:before {
			content: counter(num);
			counter-increment: num;
			top: 1px;
			left: 0;
			width: 18px;
			height: 18px;
			font-size: fsz(8, 14);
			font-weight: 400;
			line-height: 19px;
			color: $c3;
			text-align: center;
			background-color: $c4;
			border-radius: 2px;
		}
	}
}

p {
	margin-bottom: 20px;
	line-height: 1.45;
}

a {
	color: $c3;
	@include trs;

	&:hover {
		text-decoration: none;
	}
}

table {
	width: 100%;
	margin-bottom: 40px;
}

picture,
img {
	max-width: 100%;
	height: auto;
}

picture {
	display: block;
}

strong,
b {
	font-weight: 700;
}

.logo-company {
	display: inline-block;
	text-decoration: none;
}

.list-img,
.list-img-2 {
	position: relative;
}

.list-img {
	overflow: hidden;

	picture,
	img {
		position: absolute;
		top: 0;
		left: 0;
		@include imgSt;
	}
}

.list-img-2 {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		overflow: hidden;
	}

	picture,
	img {
		max-height: 100%;
		width: auto;
	}
}

iframe:not(.instagram-media),
iframe:not(.facebook),
iframe:not([id^='telegram']),
video {
	margin-bottom: 0;
	border: none;
}

.video-wrapper {
	position: relative;
	margin-bottom: 25px;
	padding-top: 56.25%;

	iframe:not(.instagram-media),
	iframe:not(.facebook),
	iframe:not([id^='telegram']),
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin-bottom: 0;
		border: none;
		object-fit: cover;
	}
}

.s_ocial {
	margin-bottom: 0;

	li,
	a {
		display: inline-block;
	}

	li {
		vertical-align: middle;

		&:not(:last-child) {
			margin-right: 14px;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&.s_ocial__f_acebook,
		&.s_ocial__l_inkedin,
		&.s_ocial__i_nstagram {
			width: 17px;
			height: 17px;
		}

		&.s_ocial__v_iber {
			width: 16px;
			height: 17px;
		}

		&.s_ocial__t_elegram {
			width: 16px;
			height: 15px;
		}
	}

	svg {
		display: inline-block;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
}

.s_ocial-style-1 {
	a {
		color: $c3;

		&.s_ocial__f_acebook {
			&:hover {
				color: $c5;
			}
		}

		&.s_ocial__l_inkedin {
			&:hover {
				color: $c6;
			}
		}

		&.s_ocial__i_nstagram {
			&:hover {
				color: $c7;
			}
		}

		&.s_ocial__v_iber {
			&:hover {
				color: $c8;
			}
		}

		&.s_ocial__t_elegram {
			&:hover {
				color: $c9;
			}
		}
	}
}

.s_ocial-style-2 {
	a {
		color: $c1;

		&:hover {
			color: $c4;
		}
	}
}

.s_ocial-style-3 {
	a {
		&.s_ocial__f_acebook {
			width: 10px;
			height: 10px;
			background-color: $c1;
			border-radius: 50%;

			svg {
				vertical-align: top;
			}
		}
	}
}

.breadcrumbs {
	margin-bottom: 8px;

	li,
	a {
		display: inline-block;
	}

	li {
		margin-bottom: 5px;

		&:not(:last-child) {
			position: relative;
			padding-right: 8px;

			&:after {
				content: '-';
				position: absolute;
				right: 0;
				top: 3px;
				font-size: fsz(10, 14);
				line-height: 1;
			}

			a {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					background-color: $c3;
					bottom: -2px;
					left: 0;
					transform-origin: right;
					transform: scaleX(0);
					transition: transform 0.3s ease-in-out;
				}

				&:hover {
					&:after {
						transform-origin: left;
						transform: scaleX(1);
					}
				}
			}
		}

		&:last-child {
			a {
				pointer-events: none;
				text-decoration: none;
			}
		}
	}

	a {
		font-size: fsz(10, 14);
		font-weight: 400;
		line-height: 1.2;
		color: $c10;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.clearfix {

	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}
