header {
	.container {
		display: flex;
	}
}

.toggle-wrapper,
.toggle-btn {
	position: relative;
}

.toggle-btn {
	z-index: 998;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px 0;
	width: 22px;
	height: 18px;
	padding: 0;
	cursor: pointer;
	@include trs;

	span,
	&:before,
	&:after {
		display: block;
		width: 100%;
		height: 2px;
		@include trs;
	}

	&:before,
	&:after {
		content: '';
	}

	&:hover {
		background-color: $c3;
	}
}

.toggle-btn-style {
	span {
		transform: scale(0);
	}

	&:before {
		transform: translateY(5px) rotate(135deg);
	}

	&:after {
		transform: translateY(-5px) rotate(-135deg);
	}

	&:hover {
		background-color: $c1;
	}
}

.toggle__content {
	z-index: 997;
	background-color: $c3;
	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top;
	@include trs;

	>div {
		height: 100%;
		overflow-y: auto;
	}

	&.content-visible {
		opacity: 1;
		visibility: visible;
		transform: scaleY(1);
	}
}


@media (min-width: 1201px) {
	header {
		.container {
			padding-top: 30px;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	.header__bl-2 {
		display: flex;
		gap: 0 85px;
		align-items: flex-end;
	}

	.header__bl-1 {
		padding-bottom: 2px;
	}

	.header__phones-info-wrapper {
		padding-bottom: 6px;
	}

	.header__bl-3 {
		padding-bottom: 12px;
	}


	.toggle-wrapper {
		padding: 18px 25px;
		background-color: $c3;
		border-radius: 0 0 5px 5px;

		&:before {
			content: '';
			position: absolute;
			top: -53px;
			left: 0;
			width: 100%;
			height: 53px;
			background-color: $c3;
		}
	}

	.toggle-btn {

		span,
		&:before,
		&:after {
			background-color: $c1;
		}
	}
}

@media (max-width: 1200px) {
	.toggle-wrapper {
		width: 22px;
		height: 18px;
	}

	.toggle-btn {

		span,
		&:before,
		&:after {
			background-color: $c3;
		}
	}
}
