//== COLORS
$cb: #000000 !default;
$c1: #ffffff;
$c2: #FF0000;
$c3: #006DB7;
$c3: #C7BD74;
$c4: #E6F0F8;

//== TYPOGRAPHY
$fb: Montserrat, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: MontserratAlternatesBlack, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 14px !default;
