//== COLORS
$cb: #000000 !default;
$c1: #ffffff;
$c2: #FF0000;
$c3: #006DB7;
$c4: #E6F0F8;
$c5: #4867AA;
$c6: #0A66C2;
$c7: #D52F71;
$c8: #7360F2;
$c9: #27A7E7;

//== TYPOGRAPHY
$fb: Montserrat, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f1: MontserratAlternates, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$fsb: 14px !default;
